/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------------COLORS----------------*/
/*
    main-grean-blue: #40CDCC;
    main-purple: #723FC5;
    action-orange: #F1916D;
    hilight-green: #41B267;
    link-blue: #44B3F1;

*/
/*--------------COLORS----------------*/

body, html, main {
    min-height: 100vh;
    font-family: 'League Spartan', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}

body {
    background-color: #02060E; /*main black*/
    /*max-width: 1220px;*/
    margin: 0 auto;
    /* position: relative; */
}

button {
    border: none;
}

.btn {
    background-color: #F1916D;
    border-radius: 1px;
    color: white;
    max-width: 300px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.regular-text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 1.2;
}

h1 {
    font-size: 72px;
    font-family: sans-serif;
    line-height: 1.4;
    font-weight: 800;
    color: white;
}

h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
}

h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
}

h4 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.white {
    color: #fff;
}

.background-colored {
    background-color: #5d79c8;
}

.blue {
    color: #40cdcc;
}

.link {
    color: #44b3f1;
}

.colored {
    display: inline-block;
    background: #40CDCC;
    background: -webkit-linear-gradient(to right, #40CDCC 0%, #723FC5 100%);
    background: -moz-linear-gradient(to right, #40CDCC 0%, #723FC5 100%);
    background: linear-gradient(to right, #40CDCC 0%, #723FC5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-gradient {
    position: relative;
}

.border-gradient:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px;
    padding: 1px;
    background: linear-gradient(to right, #40CDCC, #8030CF80);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    pointer-events: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: sticky;
    top: 0;
    width: 100%;
    background: #02060E;
    z-index: 2;
}

.header, .main {
    margin: 0 auto;
    max-width: 1220px;
}

.header__logo {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
}

/* .header__navigation {

} */

.header__navigation_item {
    text-decoration: none;
    padding: 0 20px;
}

.header__navigation_item:hover {
    color: #7042C3;
}

.main {
    /* padding-top: 50px; */
}

/* .anchor {
    padding-top: 100px;
    margin-top: -100px;
} */
section,
.what__right_content {
    opacity: 0;
    transition: all 1s ease;
}

section.visible,
.what__right_content.visible {
    opacity: 1;
}

.home__content-wrapper {
    border-radius: 30px;
    background: linear-gradient(180deg, #040C1D 0%, rgba(4, 12, 29, 0.00) 100%);
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home__left_title {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.home__left_subtitle {
    margin-bottom: 20px;
}

.home__left_list {
    margin-bottom: 30px;
}

.home__left_list .help-list_item {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.help-list_item img {
    width: 18px;
    margin-right: 10px;
}

.why {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.why__item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 60px 0;
}

.why__item {
    border-radius: 30px;
    background: linear-gradient(180deg, #040C1D 0%, rgba(4, 12, 29, 0.00) 100%);
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 400px;
    padding: 20px 10px;
}

.why__item_title {
    margin-bottom: 40px;
}

.why__item img {
    margin-bottom: 40px;
}

.why__item_details {
    text-align: center;
}

.what {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 100px 0 60px;
}

.what__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 330px;
    position: sticky;
    top: 100px;
}

.what__left .btn {
    align-self: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 40px;
}

.what__left_img {
    margin: 40px 0 20px;
}

.what__left_details {
    text-align: center  ;
}

.what__right .container {
    /*background: linear-gradient(180deg, #040C1D 0%, rgba(4, 12, 29, 0.00) 100%);*/
    width: 700px;
    border-radius: 30px;
    padding-bottom: 30px;
}

.what__right .what__right_content:not(:last-child) .container {
    margin-bottom: 60px;
}

.what__right .container__header {
    padding: 30px 0;
    border-bottom: 1px solid #40cdcc;
    margin: 0 30px;
}

.what__right .container__main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 30px 0;

}

.what__right .container__main .description {
    width: 100%;
    padding-left: 50px;
    padding-top: 25px;
}

.what__right .container__footer {
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px;
}

.what__right .container__footer .container__footer_items_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.what__right .container__footer .container__footer_items_wrapper .container__footer_item {
    height: 40px;
    width: unset;
    margin-right: 30px;
}

.what__right .container__footer .container__footer_items_wrapper .container__footer_item img {
    margin-right: 10px;
}

.what__right .container__footer .container__footer_items_wrapper .container__footer_item span {
    vertical-align: bottom;
    line-height: 24px;
}

.container__footer_item {
    width: 270px;
    height: 200px;
}

.what__right .container__footer_item .title {
    background-color: #723fc4;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
}

.what__right .container__footer_item .description {
    padding: 20px;
}

.portfolio .portfolio__title {
    margin-bottom: 60px;
}

.portfolio .portfolio__content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.portfolio__content_wrapper .portfolio__content_left {
    width: 40%;
}
.portfolio__content_wrapper .portfolio__content_right {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    transform: rotate(-30deg);
}

.portfolio__content_wrapper .portfolio__content_right .portfolio__content_card_wrapper {
    position: relative;
    width: 140px;
    height: 125px;
}
.portfolio__content_wrapper .portfolio__content_right .portfolio__content_card_wrapper:nth-child(3) {
    margin-left: 70px;
}

.portfolio__content_wrapper .portfolio__content_right .portfolio__content_card_wrapper .portfolio__content_card_img_card {
    position: absolute;
    top: 25px;
    left: 55px;
    transform: rotate(30deg);
    z-index: 2;
}
.portfolio__content_wrapper .portfolio__content_right .portfolio__content_card_wrapper .portfolio__content_card_img_platform {
    transform: rotate(30deg);
}

.portfolio__project_card {
    background: linear-gradient(to bottom, #1FF1E9 0%, #06A1FC 100%);
    border-radius: 30px;
    padding: 20px 35px;
    min-height: 230px;
    width: 430px;
}

.portfolio__project_card .portfolio__project_name {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.portfolio__project_card .portfolio__project_name_container {
    display: flex;
    align-items: center;
}

.portfolio__project_card .portfolio__project_name_container .portfolio__project_logo {
    margin-right: 15px;
}

.portfolio__project_card .full-width {
    width: 100%;
}

.portfolio__project_card .portfolio__project_description {
    margin-top: 15px;
}

.contact .contact__title {
    margin-bottom: 60px;
}

.contact .contact__content_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
.contact .contact__content_wrapper .contact__content_left {
    width: 45%;
}
.contact .contact__content_wrapper .contact__content_right {
    width: 35%;
}

.contact__input-container {
    position:relative;
    margin-bottom:20px;
}
.contact__input_label {
    background-color: #02060e;
    padding: 0 5px;
    color: white;
    font-size: 16px;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.contact__input, .contact__select {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    display: block;
    height: 50px;
    margin: 0 25px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}
.contact__input:focus ~ .contact__input_label,
.contact__select:focus ~ .contact__input_label {
    top:-8px;
}

.input-gradient {
    border: solid 1px transparent;
    border-radius: 10px;
    background-image: linear-gradient(#02060e, #02060e), linear-gradient(to right, #40CDCC, #8030CF80);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

select.contact__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select.contact__select::-ms-expand {
    display: none;
}

.contact__input:not(:placeholder-shown) ~ .contact__input_label {
    top: -8px;
}
.contact__select:not([value=""]):valid ~ .contact__input_label {
    top: -8px;
}
.contact__select[value=""]:focus ~ .contact__input_label {
    top: 20px;
}

.contact__content_left .btn {
    width: 100%;
    max-width: unset;
    border-radius: 10px;
    padding: 15px;
}

.contact__text {
    color: white;
    text-align: center;
    margin: 25px auto;
    font-size: 20px;
}
.contact__text span {
    display: block
}

.bold {
    font-weight: 500;
}

.container__footer_item .description ul li {
    margin: 10px 0;
    font-weight: 300;
}

.border-lines {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
}

.border-lines .border-item {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #226B6F;
    margin: 5px 0;
}


footer {
    border-top: 1px solid #8ccdff69;
}
footer .footer__content_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
}
footer .footer__section {
    opacity: 1;
    padding: 40px 0;
}
footer p,
footer h3 {
    color: white;
}
footer p {
    line-height: 32px;
}
footer h3 {
    line-height: 40px;
}

footer .footer__copyright {
    width: 100%;

}
